body {
    background-color:rgb(42, 77, 7);
}



h1 {
    background-color: rgb(251, 253, 250);
    font-size: 2rem;
    font-weight:bold;
    border-style: solid;
    text-align: center;
    
}

.estilo-uno { 
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center;
    
    }

    .estilo-dos {
        font-weight: 50;
        color: rgb(10, 10, 10);
        font-family: cursive;
        border-style: dotted;
    }

    h2 {
        background-color: blanchedalmond;
        font-size: 2rem ;
   }
   
   h3 {
       background-color: blanchedalmond;
       font-size: 2rem;
       color:rgb(10, 10, 10);
   }   
   
       .estilo-tres{
           font-size: 2rem ;
           font-family: 'Times New Roman', Times, serif;
       }