.styloBody{
    background-color: grey;
    
}
h1{
    color: red;
    text-align: center;
}
h2{
    color: red;
}
.bold{
    font-weight: bold;
    width: 80%;
    margin: 5rem;
}
.styloDiv1Foto{
    display: flex;
    justify-content: space-around;
    
}
.styloDiv2Fotos{
    width: 500px;
    margin: auto;
    padding: 30px;

}