p.aviso {
    color:blue;
  }
  
  p .aviso {
    color:red;
  }
  
  p, .aviso {
    color:green;
  }
  .estiloParrafo{
      font-family: cursive;
      font-size: larger;
      width: 50%;
      margin: 20px;
      block-size: 50%;


  }